<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		* {
			padding: 0;
			margin: 0;
			box-sizing: border-box
		}

		#container {
			border: solid 10px blue;
			overflow: auto
		}

		ul {
			float: left;
			width: 20%;
			padding: 20px
		}

		main {
			width: 80%;
			border: solid;
			float: right;
		}

		section {
			border: solid 5px lightblue;
			padding: 5px;
		}
	</style>
</head>

<body>
	<div id="container">
		<ul>
			<li>game</li>
			<li>friends</li>
			<li>play</li>
		</ul>
		<main>
			<section>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat itaque nemo temporibus debitis ipsa, laudantium, quod ducimus deserunt porro at nam, animi alias nesciunt officia aliquam dignissimos saepe. Voluptates, vel.</section>
			<section>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, corporis aspernatur vitae maiores. Eum ipsum iste nostrum, dolore totam sequi magnam accusamus. Repellat ut consequuntur perspiciatis alias error aliquid, laborum.</section>
			<section>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore nesciunt quas natus dicta odio, odit excepturi assumenda perspiciatis dolore eos aut sapiente enim totam officiis dolores, praesentium cumque? Et, provident.</section>
		</main>
	</div>
</body></html>